<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet">
    <title>{{ username }}</title>
  </head>
  <body class="d-flex flex-column align-items-center justify-content-center" style="background-color:{{ background_color }}; color:{{ font_color }}">
    <!-- Main page container -->
    <div class="page-container w-100 d-flex flex-column align-items-center">

      <!-- User's profile icon -->
      <div id="profile-icon-row" class="d-flex justify-content-center">
        <div id="profile-icon" class="d-flex justify-content-center align-items-center" style="background-color: {{ icon_background_color }};">
          <svg id="diamond" fill={{ icon_color }} xmlns="http://www.w3.org/2000/svg" viewBox="5 15 90 70">
            <path d="m28 16c-0.1 0-0.1 0-0.2 0-0.5 0.1-1 0.3-1.3 0.7l-20 22c-0.7 0.7-0.6 2 0.1 2.8l42 42c0.7 0.7 2.1 0.7 2.8 0l42-42c0.7-0.7 0.7-2 0.1-2.7l-20-22C73.1 16.2 72.6 16 72 16zm0.9 4 10.4 0-8.6 18L12.5 38zm14.8 0 12.6 0 8.6 18-29.7 0zm17 0L71.1 20 87.5 38 69.3 38zm-47.9 22 17.8 0 13.4 31.2zm22.2 0 29.9 0L50 76.9zM69.3 42 87.2 42 55.9 73.2z"/>
          </svg>
        </div>
      </div>

      <!-- User's username -->
      <div class="w-100 align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 id="profile-title"><a href="https://crystalprism.io/user/?username={{ username }}">{{ username }}</a></h1>
        </div>
      </div>

      <!-- User's personal information and stats -->
      <div id="user-row" class="content-row">
        <!-- User's first and last name -->
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <b>Name:</b>
            {% if first_name is defined and name != '' %}
              {{ first_name }} {{ last_name }}
              {% if name_public %}
              (public)
              {% else %}
              (private)
              {% endif %}
            {% else %}
            (private)
            {% endif %}
          </div>
        </div>

        <!-- User's email address -->
        <div class="d-flex justify-content-center align-items-center mt-5">
          <div>
            <b>Email address:</b>
            {% if email is defined and email != None %}
              <a href="mailto:{{ email }}">{{ email }}</a>
              {% if email_public %}
              (public)
              {% else %}
              (private)
              {% endif %}
            {% else %}
            (private)
            {% endif %}
          </div>
        </div>

        <!-- User's member stat -->
        <div class="d-flex justify-content-center align-items-center mt-5">
          <div><b>Member since:</b> {{ created }}</div>
        </div>

        {% if about is defined and about != '' %}
          <!-- User's about me blurb -->
          <div class="d-flex justify-content-center align-items-center mt-5">
            <div>
              <b>About:</b> {{ about }}
            </div>
          </div>
        {% else %}
        {% endif %}
      </div>

      <!-- User's Shapes in Rain scores -->
      <div class="content-row w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="row-title"><a href="https://crystalprism.io/shapes-in-rain">Shapes in Rain</a> Scores ({{ shapes_scores|length }})</div>
        <div class="w-100 d-flex flex-column align-items-center justify-content-center">
          {% if shapes_scores|length > 0 %}
            <table>
              <tr>
                <th>Score</th>
                <th>Date</th>
              </tr>
              {% for score in shapes_scores %}
              <tr>
                <td>{{ score['score'] }}</td>
                <td>{{ score['created'] }}</td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
          {% endif %}
        </div>
      </div>

      <!-- User's Rhythm of Life scores -->
      <div class="content-row w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="row-title"><a href="https://crystalprism.io/rhythm-of-life">Rhythm of Life</a> Scores ({{ rhythm_scores|length }})</div>
        <div class="w-100 d-flex flex-column align-items-center justify-content-center">
          {% if rhythm_scores|length > 0 %}
            <table>
              <tr>
                <th>Score</th>
                <th>Date</th>
              </tr>
              {% for score in rhythm_scores %}
              <tr>
                <td>{{ score['score'] }}</td>
                <td>{{ score['created'] }}</td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
          {% endif %}
        </div>
      </div>

      <!-- User's CanvaShare drawings -->
      <div class="content-row w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="row-title"><a href="https://crystalprism.io/canvashare">CanvaShare</a> Drawings ({{ drawings|length }})</div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-center justify-content-center">
          {% for drawing in drawings %}
            <div class="content-container d-flex flex-column align-items-center justify-content-center">
              <div class="container-title">
                <a href="https://crystalprism.io/canvashare/easel/?drawing={{ drawing['drawing_id'] }}">{{ drawing['title'] }}</a>
              </div>
              <a href="drawings/{{ drawing['drawing_id'] }}.html">
                <img class="drawing" src="{{ drawing['url'] }}">
              </a>
              <div class="info">
                <div>Created: {{ drawing['created'] }}</div>
                <div class="mt-2">Likes: {{ drawing['like_count'] }}</div>
                <div class="mt-2">Views: {{ drawing['views'] }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- User's liked CanvaShare drawings -->
      <div class="content-row row no-gutters w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="row-title"><a href="https://crystalprism.io/canvashare">CanvaShare</a> Liked Drawings ({{ liked_drawings|length }})</div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-center justify-content-center">
          {% for drawing in liked_drawings %}
            <div class="content-container d-flex flex-column align-items-center justify-content-center">
              <div class="container-title">
                <a href="https://crystalprism.io/canvashare/easel/?drawing={{ drawing['drawing_id'] }}">{{ drawing['title'] }}</a>
              </div>
              <a href="drawings/{{ drawing['drawing_id'] }}.html">
                <img class="drawing" src="{{ drawing['url'] }}">
              </a>
              <div class="info">
                <div>
                  <a href="https://crystalprism.io/user/?username={{ drawing['artist_name'] }}">Artist: {{ drawing['artist_name'] }}</a>
                </div>
                <div class="mt-2">Liked: {{ drawing['created'] }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- User's Thought Writer posts -->
      <div class="content-row w-100 d-flex flex-column align-items-center justify-content-center hidden">
        <div class="row-title"><a href="https://crystalprism.io/thought-writer">Thought Writer</a> Posts ({{ posts|length }})</div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-center justify-content-center">
          {% for post in posts %}
            <div class="content-container d-flex flex-column align-items-center justify-content-center">
              <div class="container-title">
                {% if post['public'] %}
                  <a href="https://crystalprism.io/thought-writer/post/?post={{ post['post_id'] }}">{{ post['title'] }}</a>
                {% else %}
                  {{ post['title'] }}
                {% endif %}
              </div>
              <div class="post-board d-flex flex-column align-items-center justify-content-center">
                <div class="post-content">{{ post['content'] }}</div>
              </div>
              <div class="info">
                <div>Created: {{ post['created'] }}</div>
                <div class="mt-2">Last Modified: {{ post['modified'] }}</div>
                {% if post['public'] %}
                  <div class="mt-2">
                    <a href="https://crystalprism.io/thought-writer/post/?post={{ post['post_id'] }}#comments">Comments: {{ post['comment_count'] }}</a>
                  </div>
                {% else %}
                  <div class="mt-2">Private post</div>
                {% endif %}
                <div class="mt-2">
                  <a href="posts/{{ post['post_id'] }}.html">View post edit history</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- User's Thought Writer comments -->
      <div class="content-row w-100 d-flex flex-column align-items-center justify-content-center hidden">
        <div class="row-title"><a href="https://crystalprism.io/thought-writer">Thought Writer</a> Comments ({{ comments|length }})</div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-center justify-content-center">
          {% for comment in comments %}
            <div class="content-container d-flex flex-column align-items-center justify-content-center">
              <div class="comment-board d-flex flex-column align-items-center justify-content-center">
                <div class="comment-content">{{ comment['content'] }}</div>
              </div>
              <div class="info">
                <div>Created: {{ comment['created'] }}</div>
                <div class="mt-2">Last Modified: {{ comment['modified'] }}</div>
                <div class="mt-2">
                  <a href="https://crystalprism.io/thought-writer/post/?post={{ comment['post_id'] }}#comment{{ comment['comment_id'] }}">Post: {{ comment['title'] }}</a>
                </div>
                <div class="mt-2">
                  <a href="https://crystalprism.io/user/?username={{ comment['post_writer'] }}">Post Writer: {{ comment['post_writer'] }}</a>
                </div>
                <div class="mt-2">
                  <a href="comments/{{ comment['comment_id'] }}.html">View comment edit history</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

    <div id="footer">&copy; 2018 <a href="https://crystalprism.io">Crystal Prism</a></div>

  </body>
</html>
